.nvm/
.config/
.c9/
.bash_history
.bash_profile
.DS_Store
exemplo-docker-compose/dados_postgres/
exemplo-docker-compose/crud-node-postgres/
nginx-nodejs-postgres/dados_postgres/
nginx-nodejs-postgres/crud-node-postgres/
